body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9 !important;
    margin: 0;
    padding: 0;
}
header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

img {
    border-radius: 50%;
    margin-right: 10px;
    width: 20%;
}

.actions {
    text-align: center;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    margin: 20px 0;
    font-size: 0.9em;
    color: #555;
}
